.button-cadastrar{
	float: right;
}
.feras-bg-main-color{
	background-color: cadetblue !important;
}
.feras-bg-side-color{
	background-color: darkslategrey !important;
}
.feras-text-color{
	color: white;
}
.feras-modal-header-bg-color{
	background-color: rgba(0,0,0,0.03);
}
.feras-alert-login{
	width: 100%;
	display: none;
}

